html {
  font-size: 16px;

  @media (min-width: 1921px) {
    font-size: 0.8333333vw;
  }
  @media (max-width: 359px) {
    font-size: 4.44vw;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  color: #000;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}
