.block {
  display: flex;
  align-items: center;

  &__label {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;

    @media (max-width: 1536px) {
      font-size: 0.875rem;
    }
    @media (max-width: 460px) {
      font-size: 0.625rem;
      line-height: 1;
      padding-left: 0.4781rem;
      position: relative;
      top: 0.0313rem;
    }
  }
}
