.block {
  display: flex;
  align-items: center;

  &__label {
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    cursor: pointer;

    @media (max-width: 1536px) {
      font-size: 0.875rem;
    }
  }
}
