.homePage {
  overflow: hidden;
  background-color: #f4f4f4;

  @media (max-width: 1100px) {
    background-color: #fff;
  }

  &__container {
    padding: 5rem;
    min-height: 100vh;

    @media (max-width: 1536px) {
      padding: 2.5rem;
    }

    @media (max-width: 1100px) {
      padding: 0;
    }
  }
  &__sides {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }
  &__leftSide {
    @media (max-width: 1100px) {
      padding-top: 3.3125rem;
      padding-bottom: 3.0625rem;
      padding-left: 1.5625rem;
      padding-right: 1.5625rem;
      background-color: #f4f4f4;
    }

    @media (max-width: 750px) {
      padding-top: 7vw;
    }

    @media (max-width: 550px) {
      padding-bottom: 5.63vw;
    }

    @media (max-width: 360px) {
      padding-top: 1.5844rem;
      padding-bottom: 1.2688rem;
    }
  }
  &__rightSide {
    margin-right: 5rem;

    @media (max-width: 1536px) {
      margin-right: 2.5rem;
    }

    @media (max-width: 1200px) {
      margin-right: 0;
    }
  }
  &__titleBlock {
    margin-top: 12.625rem;

    @media (max-width: 1536px) {
      margin-top: 9.625rem;
    }

    @media (max-width: 1336px) {
      margin-top: 6.625rem;
    }

    @media (max-width: 1100px) {
      display: flex;
      justify-content: center;
      margin-top: 5.625rem;
    }

    @media (max-width: 680px) {
      margin-top: 5.7vw;
      padding-left: 0.97rem;
      justify-content: flex-start;
      white-space: nowrap;
    }

    @media (max-width: 360px) {
      margin-top: 1.2825rem;
    }
  }
}

.rightSide {
  &__form {
    width: 37.5rem;

    @media (max-width: 1536px) {
      width: 30rem;
    }

    @media (max-width: 1100px) {
      width: 100%;
    }
  }
  &__copyright {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(51, 51, 51, 0.8);

    @media (max-width: 1536px) {
      font-size: 0.875rem;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }
}

.header {
  &__logo {
    width: 17.813rem;

    @media (max-width: 1536px) {
      width: 14.3125rem;
    }

    @media (max-width: 1100px) {
      width: 8.9375rem;
    }

    @media (max-width: 460px) {
      width: 4.25rem;
    }
  }

  @media (max-width: 1100px) {
    display: flex;
    justify-content: center;
  }
}

.titleBlock {
  &__subtitle {
    margin-bottom: 1rem;

    @media (max-width: 1536px) {
      margin-bottom: 0.8125rem;
    }

    @media (max-width: 1100px) {
      margin-bottom: 1rem;
    }

    @media (max-width: 727px) {
      margin-bottom: 2.22vw;
    }

    @media (max-width: 460px) {
      margin-bottom: -0.1875rem;
    }
  }
  &__title {
    margin-bottom: 2.0625rem;

    @media (max-width: 1536px) {
      margin-bottom: 1.25rem;
    }

    @media (max-width: 1100px) {
      margin-bottom: 2.0625rem;
    }

    @media (max-width: 740px) {
      margin-bottom: 3.76vw;
    }

    @media (max-width: 360px) {
      margin-bottom: 0.8481rem;
    }
  }
  &__description {
    margin-left: 5rem;

    @media (max-width: 750px) {
      margin-left: 10.6vw;
    }
    @media (max-width: 360px) {
      margin-left: 2.3912rem;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 5rem;
  line-height: 5rem;
  color: #181818;

  @media (max-width: 1536px) {
    font-size: 4.25rem;
  }

  @media (max-width: 1100px) {
    font-size: 5rem;
  }

  @media (max-width: 727px) {
    font-size: 11.1vw;
    line-height: 1;
  }

  @media (max-width: 360px) {
    font-size: 2.5rem;
  }

  &__dot {
    margin-left: 0.5625rem;

    @media (max-width: 727px) {
      width: 1.6vw;
      min-width: 1.6vw;
      height: auto;
    }

    @media (max-width: 689px) {
      margin-left: 1.3vw;
    }

    @media (max-width: 360px) {
      width: 0.37rem;
      min-width: 0.37rem;
      height: auto;
      margin-left: 0.2938rem;
    }
  }
}

.subtitle {
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: #181818;

  @media (max-width: 1536px) {
    font-size: 2rem;
  }

  @media (max-width: 1100px) {
    font-size: 2.5rem;
  }

  @media (max-width: 720px) {
    font-size: 5.55vw;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;

  @media (max-width: 1536px) {
    font-size: 0.875rem;
  }

  @media (max-width: 1100px) {
    font-size: 1rem;
  }
  @media (max-width: 575px) {
    font-size: 2.77vw;
    line-height: 1.4;
  }
}
